.App {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu, .Quiz, .EndScreen {
  width: 500px; 
  height: 500px;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 .25rem 1rem 0 #30354514;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button, .Quiz button, .EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
  font-size: 20px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
}

.Menu, .Quiz, .EndScreen {
  color: #000;
}

.Options {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Options button:hover {
  background-color: #ccc;
}

.select {
  background-color: #ccc;
}